[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=xfsm-logout
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[es]=Cerrar sesión
Comment=Log out of the Xfce Desktop
Comment[es]=Cerrar sesión en el escritorio Xfce
X-XFCE-Source=file:///usr/share/applications/xfce4-session-logout.desktop
