.lofi-links-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.lofi-link-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.lofi-link-button {
    border-radius: 60px !important;
    padding: 12px 20px !important;
    background-color: #fe5163 !important;
    color: #831a2b !important;
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    transition: all 0.2s;
}

.lofi-link-button:hover {
    background-color: white !important;
    color: black !important;
}

.lofi-link-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.lofi-link-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #1a1a48;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s;
}

.lofi-link-icon svg {
    fill: white;
    height: 2.4em !important;
    transition: all 0.2s;
}

.lofi-link-icon:hover {
    background-color: rgb(228, 228, 228);
}

.lofi-link-icon:hover svg {
    fill: black;
}
